.App {
  text-align: center;
}
li{
  display:flex;
  width: 100px;
  list-style: none;
  font-family: 'Amaranth', sans-serif;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav{
  margin-bottom: 75px;
}

h1{
  font-family: 'Amaranth', sans-serif;
  color: purple;
}