.App {
  text-align: center;
}
li{
  display:flex;
  width: 100px;
  list-style: none;
  font-family: 'Bellota', cursive;
  font-size: 20px;
  color: rgb(14, 66, 14);
}


ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav{
  margin-bottom: 75px;
}

h1, h2{
  font-family: 'Playball', cursive;
  font-size: 35px;
  color: rgb(19, 77, 19);
}